{
    "root": true,
    "env": {
        "browser": true,
        "node": true,
        "es2021": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "extends": [
      "prettier",
    //   "eslint:recommended",
    //   "plugin:react/recommended",
      "plugin:react-hooks/recommended"
    //   "plugin:react/jsx-runtime"
    ]
  }
